<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="card mb-3 mx-auto" style="max-width: 60rem;">
    <div class="row g-0">
        <div class="col-md-4">
            <img th:src="@{/images/meme.jpg}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Welcome!</h5>
                <p class="card-text">This is a very simple SpringBoot application, some kind of ToDo list. You can check
                    it
                    on <a href="https://github.com/nposmak/SpringBoot-ToDo-App">GitHub</a>
                    (be sure you'll see nothing interesting there :). Also you can try my rzd telegram
                    <a href="https://tglink.ru/LazyTrainInfo_bot">bot</a>.</p>
                <h6>Login or create new account to start.</h6>
                <ul class="nav nav-pills">
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" th:href="@{/login-myapp}">Log In</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/login}">Log In with Google</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/logout}">Log Out</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/register}">Sign Up</a>
                    </li>
                </ul>
                <br>
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{|/users/${curUserName}|}" class="btn btn-success" style="width: 120px;height: 40px;">Profile</a>
                </div>
                <br>
                <div sec:authorize="isAuthenticated()&&hasAuthority('admin')">
                    <a th:href="@{/admin/all-users}" class="btn btn-success" style="width: 120px;height: 40px;">All
                        Users</a>
                </div>
                <br>
                <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <span th:case="${false}">User is not logged in!</span>
                    <span th:case="${true}">User logged in with authority: 
                    <span sec:authentication="principal.authorities"/> </span>
                    <span th:case="*">Should never happen, but who knows...</span>
                </div>
            </div>
        </div>


    </div>
</div>


</body>
</html>