<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="ISO-8859-1">
    <title>Users Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<br><br>
<div class="card text-center mx-auto" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">My current tasks:</h4>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
        <table class="table table-borderless table-hover">
            <thead class="table-borderless">
            <th style="text-align: left"></th>
            <th></th>
            </thead>
            <tbody>
            <tr>
                <form th:object="${newTask}" th:action="@{|/save/${user.email}|}" method="post">
                    <td>
                        <input class="form-control" th:field="*{taskDescription}" type="text" placeholder="add new task"
                               aria-label="default input example">
                    </td>
                    <td style="text-align: right">
                        <button type="submit" class="btn btn-outline-primary">Add</button>
                    </td>
                </form>
            </tr>
            <tr th:each="task: ${taskList}">
                <td th:text="${task.taskDescription}" style="text-align: left">Task Description</td>
                <td style="text-align: right">
                    <form th:action="@{|/deleteTask/${task.id}|}" method="post">
                        <input type="hidden" th:value="${task}">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br>
<div class="card text-center mx-auto" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">Profile info:</h4>
        <table class="table table-borderless table-hover">
            <tr style="text-align: left">
                <td style="width: 8rem">User id:</td>
                <td th:text="${user.id}" style="text-align: left"></td>
            </tr>
            <tr style="text-align: left">
                <td style="width: 8rem">Email:</td>
                <td th:text="${user.email}" style="text-align: left"></td>
            </tr>
            <tr style="text-align: left">
                <td style="width: 8rem">Password</td>
                <td th:text="${user.password}" style="text-align: left"></td>
            </tr>
            <tr style="text-align: left">
                <td style="width: 8rem">Name</td>
                <td th:text="${user.firstName}" style="text-align: left"></td>
            </tr>
            <tr style="text-align: left">
                <td style="width: 8rem">Surname</td>
                <td th:text="${user.lastName}" style="text-align: left"></td>
            </tr>
        </table>
    </div>
</div>

<br><br><br>
</div>
</body>
</html>